html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.textBoxStyle {
    width: 150px;
    padding: 10px;
    border: 2px solid #8492d2;
    border-radius: 8px;
    font-size: 16px;
}

.error-message {
    color: maroon;
    font-size: 16px;
}

.btn {
    width: 150px;
    border-radius: 16px;
    font-size: 16px;
    margin-top: 5px;
    border-color: #8492d2;
    background-color: #e9f4ff;
}